.page-main-header{height:70px;}
.page-main-header .main-header-left{width: 230px;}
.logo-wrapper img{height: 50px; margin-top: 0px;}
.page-main-header .main-header-right .nav-right > ul > li{padding: 0px;}
.onhover-show-div{top:50px;}
.page-main-header .main-header-right .nav-right .notification{top:-12px;}
.page-main-header .main-header-right .nav-right .profile-dropdown{width: 200px;}