<div class="modal-header">
    <h4 class="modal-title">Thêm giao dịch tạm giữ</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('x')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body" *ngIf="!!form">
    <form class="theme-form" name="form" [formGroup]="form">
        <div class="form-group row">
            <label class="col-sm-3 col-form-label">Khách hàng (*)</label>
            <div class="col-sm-9">
                <ng-select [items]="customerList" [virtualScroll]="true" bindLabel="fName" bindValue="accountId"
                    (search)="searchAutoCompeleteCustomer($event)" class="custom-select2"
                    placeholder="Nhập họ tên hoặc tài khoản khách hàng" formControlName="accountId"
                    [ngClass]="{ 'is-invalid': submitted && f.accountId.errors }" required>
                </ng-select>
                <div *ngIf="submitted && f.accountId.errors" class="invalid-feedback">
                    <div *ngIf="f.accountId.errors.required">Vui lòng chọn khách hàng</div>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 col-form-label">Ví (*)</label>
            <div class="col-sm-9">
                <ng-select [items]="wallets" [virtualScroll]="true" bindLabel="title" bindValue="id"
                [(ngModel)]="dataModel.walletId" class="custom-select2" placeholder="Chọn loại ví" formControlName="walletId"
                    [ngClass]="{ 'is-invalid': submitted && f.walletId.errors }" required>
                </ng-select>
                <div *ngIf="submitted && f.walletId.errors" class="invalid-feedback">
                    <div *ngIf="f.walletId.errors.required">Vui lòng chọn 1 loại ví</div>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 col-form-label">Số tiền(*)</label>
            <div class="col-sm-9">
                <input type="text" formControlName="amount" class="form-control" placeholder="nhập số tiền" inputmode="numeric" usd-only
                    [ngClass]="{ 'is-invalid': submitted && f.amount.errors }" required />
                <div *ngIf="submitted && f.amount.errors" class="invalid-feedback">
                    <div *ngIf="f.amount.errors.required">Số tiền nạp không được để trống</div>
                    <div *ngIf="f.amount.errors.min">
                        Số tiền nạp phải lớn hơn 100.000
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 col-form-label">Loại tạm giữ(*)</label>
            <div class="col-sm-9">
                <ng-select [items]="Type" formControlName="type" [virtualScroll]="true"
                    [(ngModel)]="dataModel.type" bindLabel="name" bindValue="id"
                     [ngClass]="{ 'is-invalid': submitted && f.type.errors }" required class="custom-select2">
                </ng-select>
                <div *ngIf="submitted && f.type.errors?.required" class="invalid-feedback">
                    Bạn chưa chọn loại tạm giữ
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 col-form-label">Tham chiếu</label>
            <div class="col-sm-9">
                <ng-select [items]="refType" formControlName="refType" [virtualScroll]="true"
                    [(ngModel)]="dataModel.refType" bindLabel="name" bindValue="id">
                </ng-select>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 col-form-label">Mô tả</label>
            <div class="col-sm-9">
                <textarea formControlName="description" rows="3" class="form-control"></textarea>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary mr-1" (click)="onSubmit()">Submit</button>
    <button type="button" class="btn btn-light" (click)="activeModal.dismiss('x')">Close</button>
</div>